.bx--content
{
    background-color: var(--cds-ui-background);
}

.bx--side-nav
{
    background-color:var(--cds-ui-background);
    border-right: 1px solid var(--cds-ui-03);
}

.bx--side-nav__overlay-active
{
    z-index: 10;
}

.bx--modal
{
    width: 100%;
    height: 100vh - 20rem;
}

h1 {
    margin-bottom: 1rem;
}

.bx--cc--title p.title,
.bx--cc--axes g.axis g.tick text,
div.bx--cc--legend div.legend-item p,
.bx--cc--axes g.axis g.tick text,
.bx--cc--chart-wrapper text,
.bx--chart-holder .bx--overflow-menu__icon {
    color: var(--cds-text-01) !important;
    fill: var(--cds-text-01) !important;
}

.bx--cc--grid rect.chart-grid-backdrop {
    fill: var(--cds-background) !important;
}

.bx--cc--grid rect.chart-grid-backdrop.stroked,
.bx--cc--grid g.x.grid g.tick line,
.bx--cc--grid g.y.grid g.tick line{
    stroke: var(--cds-active-01) !important;
}

.bx--side-nav~.bx--content
{
    margin-left: 0rem;
}

a.bx--side-nav__link[aria-current=page],
a.bx--side-nav__link--current
{
    background-color: var(--cds-ui-03);
}

a.bx--side-nav__link>.bx--side-nav__link-text,
.bx--side-nav a.bx--header__menu-item .bx--text-truncate-end
{
    color: var(--cds-text-01);
}

a.bx--side-nav__link[aria-current=page] .bx--side-nav__link-text,
a.bx--side-nav__link--current .bx--side-nav__link-text
{
    color: var(--cds-text-01);
}

.bx--side-nav__icon>svg,
a.bx--side-nav__link--current .bx--side-nav__icon>svg
{
    fill: var(--cds-text-01);
}

a.bx--side-nav__link:hover .bx--side-nav__icon>svg,
a.bx--side-nav__link--current:hover .bx--side-nav__icon>svg
{
    fill: var(--cds-brand-01);
}

.bx--data-table th.bx--table-column-checkbox {
    width: 3.2rem;
}

.bx--data-table thead th.bx--table-column-checkbox, .bx--data-table tbody td.bx--table-column-checkbox{
    padding-right: 1rem;
    padding-left: .6rem;
}

.overlay
{
    height: 100%; /* 100% Full-height */
    width: 16rem; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

@media (max-width: 991.98px){
    .bx--side-nav.bx--side-nav--expanded.overlay~.bx--content {
        margin-left: 0rem;
    }
}